<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12">
          <figure class="image is-3by1">
            <img :src="postInfo.image" :alt="postInfo.name">
          </figure>
        </div>
        <div class="column is-12">
          <h1 class="title">{{postInfo.name}}</h1>
          <p class="author">Por: {{postInfo.author}}</p>
        </div>
        <div class="column is-12">
          <p v-html="postInfo.content"></p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import api from '../../libs/api/'
import errors from '../../constant/errors'
export default {
  data () {
    return {
      // loading: true
    }
  },
  async asyncData ({ params, error }) {
    let { post } = params
    // let loading = true
    let postInfo = null
    try {
      const response = await api.POST.find(element => element.path === post)
      if (response) {
        postInfo = response
        loading = false
      } else {
        error({ statusCode: 404, message: errors.POST.NOT_FOUND })
      }
      return {
        postInfo,
        loading
      }
    } catch(errorCatch) {
      console.error(errorCatch)
      error({ statusCode: 500, message: errors.POST.ERROR_SERVER })
    }
  },
  head () {
    return {
      title: `Blog Zarape IO | ${this.postInfo.name}`,
        meta: [
          { hid: 'description', name: 'description', content: this.postInfo.description },
          { hid: 'og:title', property:'og:title', content: `Blog Zarape IO | ${this.postInfo.name}` },
          { hid: 'og:type', property:'og:type', content: `article` },
          { hid: 'og:description', property:'og:description', content: this.postInfo.description },
          { hid: 'og:image', property:'og:image', content:`${this.postInfo.image}` },
          { hid: 'og:url', property:'og:url', content: `/post/${this.path}` },
          { hid: 'twitter:card', name: 'twitter:card', content: 'summary_large_image' },
          { hid: 'twitter:site', name: 'twitter:site', content: `@inncoding` },
          { hid: 'twitter:creator', name: 'twitter:creator', content: '@inncoding' },
          { hid: 'twitter:title', name: 'twitter:title', content: `Blog Zarape IO | ${this.postInfo.name}` },
          { hid: 'twitter:description', name: 'twitter:description', content: this.postInfo.description },
          { hid: 'twitter:image', name:'twitter:image', content: `${this.postInfo.image}` }
        ],
        link: [
          { rel: 'canonical', href: `${this.$route.path}` }
        ]
    }
  }
}
</script>

<style scoped>
  .author {
    font-size: 14px;
  }
</style>