<template>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Blog demo</strong> by <a href="http://zarape.io">Zarape IO</a> 🇲🇽.
    </p>
  </div>
</footer>
</template>