<template>
  <nuxt-link :to="`/post/${postPath}`">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img :src="postImage" :alt="postName">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{postName}}</p>
            <p class="subtitle is-6">{{postAuthor}}</p>
          </div>
        </div>

        <div class="content">
          {{postDescription}}
        </div>
        <time class="date" :datetime="postDate">{{postDate}}</time>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    postId: {
      type: Number
    },
    postImage: {
      type: String,
      default: ''
    },
    postName: {
      type: String,
      default: ''
    },
    postPath: {
      type: String,
      default: ''
    },
    postAuthor: {
      type: String,
      default: ''
    },
    postDescription: {
      type: String,
      default: ''
    },
    postDate: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped>
  .date {
    font-size: 12px;
  }
</style>