<template>
  <div class="section">
    <div class="hero is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline has-text-centered">
            <div class="column is-12">
              <p class="title_sec has-text-centered">
                Opps!
              </p>
              <h1 class="title_section has-text-centered">
                Ha ocurrido un error
              </h1>
              <p class="has-text-centered parrafo">
                {{error.message}}
              </p>
              <nuxt-link class="button btn-pink" to="/">
                REGRESAR A INICIO
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Error',
  props: ['error']
}
</script>
<style scoped>
  .title_section {
    font-size: 40px;
  }
  .parrafo {
    font-size: 20px;
  }
  .button {
    margin: 3rem 0;
  }
</style>
