<template>
 <section class="section">
    <div class="container">
      <div class="columns is-multilne">
        <div class="column is-12 has-text-centered">
          <h1 class="title">El blog de Zarape IO</h1>
        </div>
      </div>
      <div class="columns is-multilne">
        <template v-for="post in posts">
          <div class="column is-3" :key="post.id">
            <post-card
              :postId="post.id"
              :postName="post.name"
              :postImage="post.image"
              :postPath="post.path"
              :postDescription="post.description"
              :postDate="post.date"
            />
          </div>
        </template>
      </div>
    </div>
 </section>
</template>

<script>
import api from '../libs/api/'
export default {
  components: {
    PostCard: () => import('@/components/Blog/PostCard.vue')
  },
  data () {
    return {
      posts: api.POST
    }
  },
  head () {
    return {
      meta: [
          { hid: 'description', name: 'description', content: 'Blog demo de Zarape IO' },
          { hid: 'og:title', property:'og:title', content: `Blog Zarape IO | El mejor blog para aprender` },
          { hid: 'og:type', property:'og:type', content: `website` },
          { hid: 'og:description', property:'og:description', content: 'Blog demo de Zarape IO donde aprenderás las mejores prácticas de desarrollo.' },
          { hid: 'og:image', property:'og:image', content:`${process.env.URL_SITE}/share.png` },
          { hid: 'og:url', property:'og:url', content: `${process.env.URL_SITE}` },
          { hid: 'twitter:card', name: 'twitter:card', content: 'summary_large_image' },
          { hid: 'twitter:site', name: 'twitter:site', content: `@inncoding` },
          { hid: 'twitter:creator', name: 'twitter:creator', content: '@inncoding' },
          { hid: 'twitter:title', name: 'twitter:title', content: `Blog Zarape IO | El mejor blog para aprender` },
          { hid: 'twitter:description', name: 'twitter:description', content: 'Blog demo de Zarape IO donde aprenderás las mejores prácticas de desarrollo.' },
          { hid: 'twitter:image', name:'twitter:image', content: `${process.env.URL_SITE}/share.png` }
        ],
        link: [
          { rel: 'canonical', href: `${process.env.URL_SITE}` }
        ]
    }
  }
}
</script>

<style>

</style>
